<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @collectbook.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @collectbook.author %>
</p>

<p>
  <strong>Price:</strong>
  <%= @collectbook.price %>
</p>

<p>
  <strong>Time:</strong>
  <%= @collectbook.time %>
</p>

<%= link_to 'Edit', edit_collectbook_path(@collectbook) %> |
<%= link_to 'Back', collectbooks_path %>
